<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="ac9a7c3e-2e62-4412-96ed-a06255a2508c"
            Publisher="CN=Yeonji"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>4PLAN</DisplayName>
    <PublisherDisplayName>Yeonji</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="_4PLAN.App">
        <VisualElements
            DisplayName="4PLAN"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="4PLAN"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>